@import "tailwindcss";

.toggle-menu {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
    justify-content: center;
  gap: 1rem;
  display: none;
}
.toggle-menu-hide {
    display: none;
}
.soc-logo{
    image-position: center;
    image-size: cover;
    width: 100%;
    height: auto;
    border-radius: 50%;
}